<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../images/Favicon/PlatypusEmoji.ico" type="image/x-icon">
     <style>
     .jumbotron {background-color: turquoise;}
         h1 {font-family: 'Roboto Slab', serif;}
         p {font-family: 'Roboto Slab', serif;}
         end {font-family: 'Lato', sans-serif;}
    #signUp, #signIn { background-color: #D0D0D0; }
     </style>
      <body>
   	<div class="jumbotron">
        <h1>CGI Platypi</h1>
        <p>Welcome to CGI Platypi, the Platypus based social chat room. Connect with friends, meet new people and just have fun!</p>
    </div>
    <div class="container-fluid">
    <p>Get started below:</p>
    <form>
        <button type="submit" formAction="/sign-up" class="btn" id="signUp">
            <span class="glyphicon glyphicon-edit" aria-hidden="true">
        </span>  Sign up</button>
        <button type="submit" formAction="/sign-in" class ="btn" id="signIn">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">
        </span>  Sign in</button>
    </form>
        <br>
        <br>
        <p>Platypus Fun Fact!</p>
        <p id="selectedFactOutput"></p>
        <br>
        <br>
         <end>Created by Luke Jones, Albion Bidder, Josie Pollard, Toby Young and Will Bath at CGI Bristol.</end>
     </div>
     <script>
        var factsArray =
        ["A platypus can live more than 12 years in the wild! Their predators include snakes, hawks, owls, eagles and sometimes crocodiles.",
         "Male Platypods have a toxic barb on the back of their hind feet. This contains a neurotoxin-like substance that causes immense pain in humans.",
         "The average lifespan of the duck-billed platypus is around 17 years.",
         "A male platypus is normally 15-20% longer than a female. They are also 60-90% heavier in comparison.",
         "The largest platypus ever measured was about 60cm long and weighed almost 3 kg."];
        var selectedFact = factsArray[Math.floor(Math.random() * factsArray.length)];
        console.log(selectedFact);
        document.getElementById('selectedFactOutput').innerHTML = selectedFact;
     </script>
    </body>
</html>