<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100&display=swap" rel="stylesheet">
     <style>
     .jumbotron {background-color: turquoise;}
         h1 {font-family: 'Roboto Slab', serif;}
         p {font-family: 'Roboto Slab', serif;}
         end {font-family: 'Lato', sans-serif;}
     </style>
      <body>
   	<div class="jumbotron">
        <h1>CGI Platypi</h1>
        <p>Welcome to CGI Platypi, the Platypus based social chat room. Connect with friends, meet new people and just have fun!</p>
    </div>
    <div class="container-fluid">
    <p>Get started below:</p>
    <button type="submit" class = "btn btn-secondary">
            <span class="glyphicon glyphicon-save" aria-hidden="true">
        </span>Sign up</button>
        <button type="submit" class = "btn btn-secondary">
            <span class="glyphicon glyphicon-save" aria-hidden="true">
        </span>Sign in</button>
        <br>
        <br>
        <br>
        <br>
         <end>Created by Luke Jones, Albion Bidder, Josie Pollard, Toby Young and Will Bath at CGI Bristol.</end>
     </div>
    </body>
</html>