<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../images/Favicon/PlatypusEmoji.ico" type="image/x-icon">
     <style>
         .jumbotron {background-color: turquoise; color: #234B46}
         h1 {font-family: 'Roboto Slab', serif;}
         p{font-family: 'Roboto Slab', serif;}
         .container-fluid {padding-left:90px; padding-top: 20px;}
         .form {
             margin: 5;
             width: 193px;
             font-family: 'Roboto Slab', serif;
             }
         #submitSignUp{background-color: #D0D0D0;}
         .radiobtnblue {color: #00D1FF; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid;}
        .radiobtnred {color: red; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
        .radiobtnyellow {color: #F9E907; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
        .radiobtnpink {color: #FE62F0; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
        .radiobtndarkblue {color: #0D56E9; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
        .radiobtnpurple {color: #7C36EF; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
      .radiobtngreen {color: #17C12E; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
        .radiobtnreal {color: #797979; border-radius: 3px; padding-top: 3px;
             padding-right: 5px;
             padding-bottom: 3px;
             padding-left: 5px;
		border: solid}
     </style>
    </head>
    <body>
    <div class="jumbotron">
        <h1>Sign up for CGI Platypi</h1>
        <p>Please fill in your details to register</p>
    </div>
    <div class="container-fluid">
    <div class="form">
        <form action="/sign-up" method="post">
        First Name: <input type="text" name="first_name" required/>
        <br><br>
        Last Name: <input type="text" name="last_name" required/>
        <br><br>
        Email address: <input type="email" name="email" required/>
        <br><br>
        Password: <input type="password" name="password" required/>
        <br>
        <br>
        Colour of Platypus:
        <br>
        <div class="radiobtnblue">
        <input type="radio" name="platypus_colour" value="blue" required> Blue</div>
        <div class="radiobtnred">
        <input type="radio" name="platypus_colour" value="red"> Red</div>
        <div class="radiobtnyellow">
        <input type="radio" name="platypus_colour" value="yellow"> Yellow</div>
        <div class="radiobtnpink">
        <input type="radio" name="platypus_colour" value="pink"> Pink</div>
        <div class="radiobtndarkblue">
        <input type="radio" name="platypus_colour" value="darkblue"> Dark Blue</div>
        <div class="radiobtnpurple">
        <input type="radio" name="platypus_colour" value="purple"> Purple</div>
        <div class="radiobtngreen">
        <input type="radio" name="platypus_colour" value="green"> Green</div>
        <div class="radiobtnreal">
        <input type="radio" name="platypus_colour" value="test"> Real</div>
        <br><br>
        <button type="submit" class="btn" id="submitSignUp">
            <span class="glyphicon glyphicon-edit" aria-hidden="true">
        </span>  Sign up</button>
        </form>
    </div>
    </div>
    </body>
</html>